doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/dist/feedbox.css')
  body
    block content

    script(type='text/javascript' src='dist/feedbox.vendor.js')
    script(type='text/javascript' src='dist/feedbox.app.js')